.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0; 
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color:transparent;
    color:rgb(179, 178, 221);
    display: inline-block;
    border:1px solid rgb(179, 178, 221);
    border-radius: 4px;
    height: 40px;
    padding: 0px 8px 0px 8px;
    font-family: unset;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(179, 178, 221);
    color:white;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
}

.ItemsUpdateimg{
    display: inline-block;
    width: 13%;
    height: 120px;
}
.ItemsUpdateLeft{
    display: inline-block;
    width: 15%;
    height: 120px;
}
.ItemsUpdateDesc{
    display: inline-block;
    width: 54%;
    height: 120px;
}
.ItemsUpdatePrice{
    display: inline-block;
    width: 9%;
    height: 120px;
}

.ItemsUpdateQuality{
    display: inline-block;
    width: 9%;
    height: 120px;
}
.ItemsUpdateRight{
    display: inline-block;
    width: 2%;
    height: 120px;
}
.ItemsUpdateItems{
    padding: 0px;
    height: 140px;
}