.shoppingCardimg{
    display: inline-block;
    width: 15%;
    height: 120px;
}
.shoppingCardLeft{
    display: inline-block;
    width: 5%;
    height: 120px;
}
.shoppingCardDesc{
    display: inline-block;
    width: 49%;
    height: 120px;
}
.shoppingCardPrice{
    display: inline-block;
    width: 14%;
    height: 120px;
    color:red;
}
.shoppingCardCheck{
    display: inline-block;
    width: 2%;
    height: 120px;
}
.shoppingCardQuality{
    display: inline-block;
    width: 8%;
    height: 120px;
}
.shoppingCardRight{
    display: inline-block;
    width: 5%;
    height: 120px;
}
.shoppingCardItems{
    height: 155px;
    border: 2px solid rgb(197, 197, 252);
    border-radius: 25px;
    margin-bottom: 15px;
    margin-right: 45px;
    margin-left: 45px;
}